doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/Materialize/dist/css/materialize.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand")
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css")
    link(rel="stylesheet", href="/select2/dist/css/select2.min.css")

    block style

    link(rel='stylesheet', href='/css/style.css')
  body
    header
      aside
        ul#collapse-sidenav.side-nav.fixed.blue-grey.darken-1.white-text.menu-collapse.enable-collapse
          li.logo
            a#logo-container.brand-logo(href='/')
              i.material-icons assessment
          li.bold(class="#{ page_name === '2015_overall' ? 'active' : ''}")
            a.waves-effect.waves-teal.nav-menu(href='/2015/overall')
              i.material-icons polymer
              | Overall
          li.bold(class="#{ page_name === '2015_parties' ? 'active' : ''}")
            a.waves-effect.waves-teal.nav-menu(href='/2015/parties')
              i.material-icons turned_in_not
              | Parties
          li.bold(class="#{ page_name === '2015_states' ? 'active' : ''}")
            a.waves-effect.waves-teal.nav-menu(href='/2015/states')
              i.material-icons location_on
              | States
          li.bold(class="#{ page_name === '2010_results' ? 'active' : ''}")
            a.waves-effect.waves-teal.nav-menu(href='/2010/results')
              i.material-icons stars
              | Results
    main
      block content

    block script
    script(src="/js/#{page_name}/app.min.js")
    script.
      $("select").select2();
